{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <section class="container py-12">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-7 col-sm-10">
        {% block content_header %}
        {% endblock content_header %}
        {% block content_body %}
          {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              <ul class="list-unstyled mb-0">
                {% for error in form.non_field_errors %}
                  <li>
                    {{ error }}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endblock content_body %}
        {% block content_footer %}
        {% endblock content_footer %}
      </div>
    </div>
  </section>
{% endblock content %}
