{% extends "account/_base.html" %}

{% load i18n %}
{% load account %}
{% load widget_tweaks %}

{% block title %}
  {% trans "Confirm your email" %}
{% endblock title %}
{% block content_header %}
  {% url 'store:index' as home_url %}
  {% url 'account_login' as login_url %}
  {% if confirmation %}
    {% user_display confirmation.email_address.user as user_display %}
    <div class="vstack align-items-center gap-2 mb-6">
      <h1>
        {% trans "Confirm your email" %}
      </h1>
      <p>
        {% if can_confirm %}
          {% blocktrans trimmed with confirmation.email_address.email as email %}
            Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.
          {% endblocktrans %}
        {% else %}
          {% blocktrans trimmed with confirmation.email_address.email as email %}
            Unable to confirm <a href="mailto:{{ email }}">{{ email }}</a> because it is already confirmed by a different account.
          {% endblocktrans %}
        {% endif %}
      </p>
    </div>
    {% if can_confirm %}
      {% url 'account_confirm_email' confirmation.key as action_url %}
      <form method="post"
            class="vstack gap-6"
            action="{{ action_url }}"
            novalidate>
        {% csrf_token %}
        {{ redirect_field }}
        <button type="submit" class="btn btn-lg btn-primary">
          {% trans "Confirm" %}
        </button>
      </form>
    {% else %}
      <div class="vstack gap-6">
        {% if user.is_authenticated %}
          <a href="{{ home_url }}" class="btn btn-lg btn-secondary">
            {% trans "Return to home" %}s
          </a>
        {% else %}
          <a href="{{ login_url }}" class="btn btn-lg btn-secondary">
            {% trans "Return to login" %}
          </a>
        {% endif %}
      </div>
    {% endif %}
  {% else %}
    {% url 'account_email' as email_url %}
    <div class="vstack align-items-center gap-2 mb-6">
      <h1>
        {% trans "Invalid link" %}
      </h1>
      <p>
        {% blocktrans trimmed %}
          This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new email confirmation request</a>.
        {% endblocktrans %}
      </p>
    </div>
    <div class="vstack gap-6">
      {% if user.is_authenticated %}
        <a href="{{ home_url }}" class="btn btn-lg btn-secondary">
          {% trans "Return to home" %}
        </a>
      {% else %}
        <a href="{{ login_url }}" class="btn btn-lg btn-secondary">
          {% trans "Return to login" %}
        </a>
      {% endif %}
    </div>
  {% endif %}
{% endblock content_header %}
