{% extends "account/_base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}
  {% trans "Sign out" %}
{% endblock title %}
{% block content_header %}
  <div class="vstack align-items-center gap-2 mb-6">
    <h1>
      {% trans "Sign out" %}
    </h1>
    <p>
      {% blocktrans trimmed %}
        Are you sure you want to sign out?
      {% endblocktrans %}
    </p>
  </div>
{% endblock content_header %}
{% block content_body %}
  {% url 'account_logout' as logout_url %}
  {% url 'store:index' as home_url %}
  <form method="post"
        class="vstack gap-6"
        action="{{ logout_url }}"
        novalidate>
    {% csrf_token %}
    {{ redirect_field }}
    <button type="submit" class="btn btn-lg btn-primary">
      {% trans "Sign out" %}
    </button>
    <a href="{{ home_url }}" class="btn btn-lg btn-secondary">
      {% trans "Return to home" %}
    </a>
  </form>
{% endblock content_body %}
