{% extends "account/_base.html" %}

{% load i18n %}

{% block title %}
  {% trans "Change password" %}
{% endblock title %}
{% block content_header %}
  <div class="vstack align-items-center gap-2 mb-6">
    <h1>
      {% trans "Change password" %}
    </h1>
    <p>
      {% blocktrans trimmed %}
        Your password is now changed.
      {% endblocktrans %}
    </p>
  </div>
{% endblock content_header %}
{% block content_body %}
  {% url 'store:index' as home_url %}
  {% url 'account_login' as login_url %}
  <div class="vstack gap-6">
    {% if user.is_authenticated %}
      <a href="{{ home_url }}" class="btn btn-lg btn-secondary">
        {% trans "Return to home" %}
      </a>
    {% else %}
      <a href="{{ login_url }}" class="btn btn-lg btn-secondary">
        {% trans "Return to login" %}
      </a>
    {% endif %}
  </div>
{% endblock content_body %}
