{% load i18n %}
{% load static %}

<script src="{% static 'assets/js/theme-switcher.js' %}"></script>
<link href="https://fonts.googleapis.com" rel="preconnect" />
<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
<link id="google-fonts"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&amp;display=swap"
      rel="stylesheet" />
<link href="{% static 'assets/vendor/nouislider/dist/nouislider.min.css' %}"
      rel="stylesheet" />
<link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}"
      rel="stylesheet" />
<link href="{% static 'assets/icons/around-icons.min.css' %}"
      rel="stylesheet" />
<link href="{% static 'assets/css/theme.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/project.min.css' %}" rel="stylesheet" />
