{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% trans "Forbidden (403)" %}
{% endblock title %}
{% block content %}
  <section class="container py-12">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-sm-10">
        <div class="vstack align-items-center gap-6">
          <h1 class="display-5">
            {% trans "Forbidden (403)" %}
          </h1>
          <p class="fs-lg">
            {% if exception %}
              {{ exception }}
            {% else %}
              {% trans "You're not allowed to access this page." %}
            {% endif %}
          </p>
          <a href="{% url 'store:index' %}" class="btn btn-lg btn-primary">
            {% trans "Go to homepage" %}
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
